html, body {
    margin: 0;
    margin-bottom: 0%;
    background-color: #bbc0e7;
    background-size: 100%;
    background: no-repeat center center fixed;
}
.container {
    margin: 0 auto;
    min-height: 200vh;
    text-align: center;
    background-color: #2e8686 ;
    overflow: hidden;
    background:  url(../static/img/backg.jpg) no-repeat;
    background-position: 0%;
    background-size: cover;
}
.container h3{
    font-size: 25px;
    color: black;
    margin-top: 80px;
}
.container form{
    margin: 20px;
}

.container input {
    width: 350px;
    height: 15px;
    font-size: 15px;
    position: relative;
    margin: 2px;
    padding: 20px;
    transition: all 0.2s ease in ease-in-out;
}

.container button {
    width: 70px;
    height: 30px;
    background-color: steelblue;
    margin: 3px;
}

.container p {
    margin: 100px;
} 

.reviews {
    float: left;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0
  }
  
.reviews::after {
    content: "";
    clear: both;
    display: table;
  }

.rowsfordevelopers:after {
    content: "";
    display: table;
    clear: both;
}

.col1, .col2, .col3, .col4 {
    float: left;
    width: 25%;
    height: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column1, .column2, .column3, .column4 {
    float: left;
    width: 25%;
    height: 100%;
    margin-left: 10px;
    margin-top: 10px;
}
.column1{
    background: url(../static/img/datascience.jpg) center no-repeat;
    background-size: 100%;
}
.column2 {
    background: url(../static/img/ml.jpg) center no-repeat;
    background-size: 100%;
}
.column3 {
    background: url(../static/img/mc.jpg) center no-repeat;
    background-size: 100%;
}
.column4 {
    background: url(../static/img/webd.jpg) center no-repeat;
    background-size: 100%;
}

.column1 button,.column2 button, .column3 button, .column4 button {
    float: left;
    margin-top: 80px;
    width: 33.33%;
    color: rgb(0, 0, 0); 
    text-align: left; 
    font-weight: 400; 
    font-size: 400;
}

.datascience, .MachineLearning, .MicroControllers, .webdev {
    float: left;
    width: 25%;
    height: 100%;
    margin-left: 10px;
    margin-top: 10px;
    background-size: cover;
}

.datascience button, .MachineLearning button, .MicroControllers button, .webdev button{
    float: left; 
    height: 100%;
    margin-right: 20px;
    width: 25%;
    
}
    
