<!--<html>
    <head>
        <title>List of learning paths</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        {% for course in courses %}
        <br>
        <div class="list-group">
        <li>course</li>
        
        </div>

        {% endfor %}
    </body>
</html>-->
<!DOCTYPE html>
<html lang='en' style="background: url(../static/img/back.jpg);">
        <title> Learning Paths </title>
        <head>
            <link href="../static/main1.css" rel="stylesheet">
        </head>
        <body>
            <div class="row">
                <div class="logout_button">
                    <form action="{{ url_for('logout')}}" method="POST">
                    <button style="color: black; float: right;"> Logout </button>
                    </form>
                    </div>
                <form action="{{ url_for('datascience')}}" method="POST">
                    <div class="column1">
                        <button type="submit" title="Data Science">
                            Data Science
                        </button>
                    </div>
                </form>
                <form action="{{ url_for('ml')}}" method="POST">
                    <div class="column2">
                        <button type="submit" title="Machine Learning">
                            Machine Learning
                        </button>
                    </div>
                </form>
                <form action="{{ url_for('mc')}}" method="POST">
                    <div class="column3">
                        <button type="submit" title="Micro Controllers">
                            Micro Controllers
                        </button>
                    </div>
                </form>
                <form action="{{ url_for('web')}}" method="POST">
                    <div class="column4">
                        <button type="submit" title="Web Development">
                            Web Development
                        </button>
                    </div>
                </form>  
            </div>
            
            <!--<a href="{{ url_for('logout') }}" style="color: white;">Logout</a>-->
        </body>
    </html>
