<!DOCTYPE html>
<html lang='en' style="background: url(../static/img/back.jpg) center no-repeat; background-size: cover; min-height: 200vh;">
    <title>Choose</title>
    <head>
        <link href="../static/main1.css" rel="stylesheet">
    </head>
    <body>
        <div class="datascience">
            <h1 style="text-align: center; color: white;">Choose one based on your level</h1>
            <div class="row1" style="float: left;">
                <h3 style="text-align:center; color: white; font-weight: 500;font-size: x-large; width: 33.33%;">
                    Beginner<br>&#8595
                </h3>
                <form action="learningpath1.html">
                    <button style="height: 33.33%;"> Learning Path 1</button>
                </form>
                    <button style="height: 33.33%;"> Learning Path 2</button>
                    <button style="height: 33.33%;"> Learning Path 3</button>
            </div>
            <div class="row2" style="float: left;">
                <h4 style="text-align: center; color: white; font-weight: 500;font-size: x-large; width: 33.33%;">
                    Intermediate<br>&#8595
                </h4>
                <form action="learningpath1.html">
                        <button style="height: 33.33%;"> Learning Path 1</button>
                </form>
                <button style="height: 33.33%;"> Learning Path 2</button>
                <button style="height: 33.33%;"> Learning Path 3</button>
            </div>
            <div class="row3" style="float: left;">>
                <h5 style="text-align: center; color: white;font-size: x-large; font-weight: 500; width: 33.33%;">
                    Advanced<br>&#8595
                </h5>
                    <form action="learningpath1.html">
                        <button> Learning Path 1</button>
                    </form>
                        <button> Learning Path 2</button>
                        <button> Learning Path 3</button>
            </div>
        </div>
    </body>
</html>