<!DOCTYPE html>
<html lang='en' style="background: url(../static/img/mc1.jpg) center no-repeat; background-size: cover;"></html>
    <title>Choose</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="datascience">
            <h1 style="text-align: center; color: white;">Choose one based on your level</h1>
            <div class="row1" style="float: left;">
                <h3 style="text-align:center; color: white; font-weight: 500;font-size: x-large; width: 33.33%;">
                    Beginner<br>&#8595
                </h3>
                <form action="{{ url_for('mc_learning_path_1')}}" method="POST">
                <!--these buttons don't have anything when they are clicked -->
                <!--only learning path 1 is clickable so that it take you to that mc_learning_path_1.html page -->
                <!--jauhar needs to work on that html page elements and app.py-->
                <!--adding action for learning path 1 page which is post-->
                    <button style="height: 33.33%;"> Learning Path 1</button>
                    <button style="height: 33.33%;"> Learning Path 2</button>
                    <button style="height: 33.33%;"> Learning Path 3</button>
                </form>
            </div>
            <div class="row2" style="float: left;">
                <h4 style="text-align: center; color: white; font-weight: 500;font-size: x-large; width: 33.33%;">
                    Intermediate<br>&#8595
                </h4>
                    <form><!--action="input.html"-->
                        <button style="height: 33.33%;"> Learning Path 1</button>
                        <button style="height: 33.33%;"> Learning Path 2</button>
                        <button style="height: 33.33%;"> Learning Path 3</button>
                </form>
            </div>
            <div class="row2" style="float: left;">
                <h5 style="text-align: center; color: white;font-size: x-large; font-weight: 500; width: 33.33%;">
                    Advanced<br>&#8595
                </h5>
                    <form><!--action="input.html"-->
                        <button> Learning Path 1</button>
                        <button> Learning Path 2</button>
                        <button> Learning Path 3</button>
                    </form>
            </div>
        </div>
    </body>
</html>