<!DOCTYPE html>
<html>
    <head>
        <title> PIC Microcontrollers Learning Path1 </title>
    </head>
    <body style="background: url(../static/img/bg2.jpg) no-repeat; background-size: cover;">
        <div class="upvote">
        <h1 style="font-size: large; font-weight: 500; color: darkblue;">Your Opinion Helps and Matters!</h1>
        <form>
            <fieldset>
                <legend> Learning Path 1 </legend>
                <input type="checkbox"> PIC24 Website </input><a href="https://www.olimex.com/Products/PIC/Development/PIC-WEB/" target="_blank">link</a> <br>
                <label for="track_pic_1_note1"> What you understood from the website? Please note down to have a summary by the end! </label> <br>
                <textarea name="track_pic_1_note1" rows='4' cols='50'></textarea> <br>

                <input type="checkbox"> PIC24 Book </input><a href="https://www.amazon.com/Beginners-Guide-Programming-PIC24-dsPIC33/dp/1468152637" target="_blank">link</a></a> <br>
                <label for="track_pic_1_note2"> What you understood from the Book? Continue learning the book with next steps! </label> <br>
                <textarea name="track_pic_1_note2" rows='4' cols='50'></textarea> <br>

                <input type="checkbox"> PIC24 Datasheets </input> <a href="https://ww1.microchip.com/downloads/en/devicedoc/39881e.pdf" target="_blank">link</a> <br>
                <input type="checkbox"> PIC24 hands-on </input> <a href="https://ww1.microchip.com/downloads/en/devicedoc/39881e.pdf" target="_blank">link</a><br>
                <input type="checkbox"> PIC24 IEEE website </input><a href= "https://site.ieee.org/worcester/?p=579" target="_blank">link</a> <br>

                <button name="track_pic_1"> Track completed </button> <br>
                <label for="track_pic_1_review"> Your review of taking this path! This will guide other learners! :) </label> <br>
                <textarea name="track_pic_1_review" rows='4' cols='50'></textarea> <br>
                
                <button name="track_pic_1_yes"> Upvote </button> <br>
                <button name="track_pic_1_no"> Downvote </button> <br>
            </fieldset>
        </form>
    </div>
</body>
</html>